.copyright-footer {
    position:fixed;
    bottom:0;
    text-align:center;
    color:rosybrown;
    font-size:18px;
    width:100%;
    background-color: rgb(228, 223, 177);
    line-height:3;
    text-shadow:5px 5px 5px rgb(179, 179, 179);
}
body {
    font-family: 'Special Elite', cursive;
    background:#fff1d4;
}
.header {
    background:rgb(226, 238, 253);
    color:red;
}
.header p {
    font-family: 'Rajdhani', sans-serif;
    font-size:20px;
    font-weight:bold;
    letter-spacing: 2px;
    color:rgb(163, 154, 154);
}
.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top:30px;
    width:130px;
    font-weight:bolder;
    letter-spacing:3px;
}

